body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(162, 181, 185);
    color: black;
}

.header {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(97, 117, 126);
}

.container {
    width: 80%;
    display: flex;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bio {
    margin: 10px;
    text-align: justify;
}

.hobbies {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.hobbies li {
    display: inline-block;
    margin: 5px 10px;
    font-size: 1.2em;
}

.redes-sociais {
    text-align: center;
}