/* styles.css */

/* Estilização básica */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Cabeçalho */
header {
    background-color: #393E46;
    color: #EEEEEE;
    padding: 1em 0;
    text-align: center;
}

/* Seção principal */
main {
    padding: 2em;
    text-align: center;
}

form {
    background-color: #EEEEEE;
    color: #393E46;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 173, 181);
    display: inline-block;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 0.5em;
}

form input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
}

form button {
    background-color: #00ADB5;
    color: #EEEEEE;
    border: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    cursor: pointer;
}

/* Resultado */
#resultado {
    margin-top: 2em;
    background-color: #EEEEEE;
    color: #393E46;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 173, 181);
    display: inline-block;
    text-align: left;
}

#resultado h3 {
    margin: 0;
}

#resultado p {
    margin: 0.5em 0 0;
}

/* Rodapé */
footer {
    background-color: #393E46;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}
