body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: #393E46;
    color: #EEEEEE;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 2em;
}

button {
    background-color: #00ADB5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 1em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0a696e;
    transition: 0.3s;
}
