body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(162, 181, 185);
}

header {
    background: rgb(97, 117, 126);
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(97, 117, 126, 0.5);
}

h2 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

.info, .experiencia, .educacao {
    text-align: left;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}